*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Roboto Condensed', sans-serif;
}

#header{
  background:#283C49;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  height:50px;
}

#header .logo_link img{
  width:100%;
  display:flex;
}

#header .logo_link{
  width:80px;
}

#header nav {
  display:flex;
  align-items:center;
  height:inherit;
}

#header nav .menu{
  list-style:none;
  display:flex;
  height:inherit;
}

#header nav .menu li{
  display:flex;
  justify-content:center;
  align-items:center;
  height: inherit;
}

#header nav .menu li a{
  display:flex;
  padding:0 10px;
  color:#fff;
  text-decoration:none;
  height:inherit;
  align-items:center;
}

#header nav .menu li a:hover{
  box-shadow:0px 5px #FF1133 inset;
}

#header nav .menu li a.active{
  box-shadow:0px 5px #7dcd40 inset;
}

#header nav .menu li:after{
  content:"|";
  color:#fff;
  display:inline-block;
}

#header nav .menu li:last-child:after{
    display:none;
}

#header nav .btn-login{
  color:#fff;
  text-decoration:none;
  background:#FF1133;
  line-height:2.2em;
  padding:0 14px 0 14px;
  border-radius:4px;
  margin-left:12px;
  font-family: inherit;
  box-shadow:0 -4px rgba(0,0,0,.3) inset;
}




.blog-main{
  display:flex;
  padding:20px 0 0 0;
  background:#EFEEEF;
}
.blog-main .wrapper{
  margin:0 auto;
}
.blog-main .search{
  display:flex;
  justify-content:flex-end;
  padding-bottom:10px;
}

.blog-main .search .search_buscador{
  border:none;
  line-height:2.6em;
  border-radius:4px;
  padding:0 5px 0 10px;
  color:rgba(0,0,0,.8);
}

.blog-main .search .search_btn{
  margin-left:6px;
  border:none;
  line-height:2.6em;
  padding:0 12px 0 12px;
  border-radius:4px;
  background:#363636;
  color:#fff;
  font-size:1em;
}

.blog-main .banner{position:relative;width:1200px;}
.blog-main .banner img{
  width:100%;
}

.banner_new{
  position: absolute;
  left:40px;
  bottom:40px;
  background:rgba(220, 220, 221,.6);
  width:50%;
  padding:25px;
}

.banner_new .title{
  font-weight:300;
  font-size:2.4em;
  padding-bottom:25px;
  border-bottom:1px solid rgba(0,0,0,.3);
}

.banner_new .banner_new_author{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top:10px;
}

.banner_new .banner_new_author p{
  display:flex;
  align-items:center;
}

.banner_new .banner_new_author p span{
  margin-left:10px;
}

.banner_new .banner_new_author p img{
  width:35px;
}


.blog{
  width:1200px;
  padding:50px 0 20px 0;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.blog .post{
  background:rgba(220, 220, 221,.6);
  margin-top:15px;
  position:relative;
  top:0;
  transition:.2s all;
}

.blog .post:hover{
  position:relative;
  top:-10px;
}

.blog .post .post_body,
.blog .post .post_footer{
  padding:12px;
}

.blog .post .post_body a{
  color:#000;
  text-decoration:none;
  font-size:1.4em;
  font-weight:300;
  display:block;
  border-bottom:1px solid rgba(0,0,0,.3);
  line-height:2em;
}

.blog .post .post_footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.blog .post .post_footer p{
  display:flex;
  align-items:center;
}

.blog .post .post_footer p img{
  width:40px;
}

.blog .post .post_footer p span{
  margin-left:10px; 
}

.paginacion{
  display:flex;
  justify-content:space-around;
}

.paginacion .content-pager{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.paginacion .content-pager ul{
  display:flex;
  list-style:none;
  margin-left:20px;
}

.paginacion  .content-pager ul li{display:flex;justify-content:center;}



.paginacion .content-pager ul li a{
  display:block;
  text-decoration:none;
  border:.2px solid rgba(0,0,0,.2);
  margin:10px;
  padding:8px 12px;
  font-size:1.1em;
  color:rgba(0,0,0,.80);
  line-height:1.3em;
  text-align:center;
  background:rgba(0,0,0,.1);
  font-weight:bold;
  display:flex;
  align-items:center;
}


.paginacion .content-pager ul li a.previous > i{
    font-size:.80em;
    margin-left:5px;
}